---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";
import pp1 from "../../assets/pics/about-us-pp1.png";
import pp2 from "../../assets/pics/about-us-pp2.png";
import pp3 from "../../assets/pics/about-us-pp3.png";
import pp4 from "../../assets/pics/about-us-pp4.png";
import pp5 from "../../assets/pics/about-us-pp5.png";
import pp6 from "../../assets/pics/about-us-pp6.png";

const description =
  "HMC Mantenimiento es tu aliado en el cuidado y optimización de equipos de aplicación de adhesivos, asegurando máxima eficiencia y durabilidad.";

const team = [
  {
    pic: pp1,
    name: "Maria Katz",
    role: "CEO",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    link: "https://linkedin.com",
  },
  {
    pic: pp4,
    name: "Julia Keen",
    role: "CEO",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    link: "https://linkedin.com",
  },
  {
    pic: pp2,
    name: "Tom Jules",
    role: "CEO",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    link: "https://linkedin.com",
  },
  {
    pic: pp5,
    name: "Rick Pratt",
    role: "CEO",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    link: "https://linkedin.com",
  },
  {
    pic: pp3,
    name: "Dean Rush",
    role: "CEO",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    link: "https://linkedin.com",
  },
  {
    pic: pp6,
    name: "Helen Beak",
    role: "CEO",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    link: "https://linkedin.com",
  },
];
---

<Section id="aboutus">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Sobre nosotros" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-2 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
    <div class="flex justify-end mt-10">
      <button class="btn-primary">Ver a todo el equipo</button>
    </div>
  </div>
</Section>
